$bgcolor:red;
$color:yellow;

h2{
    background-color: $bgcolor;
    color:$color;
}
p{
    color:$color;
} 
div{
  color:$color;
} 
// node-sass --watch scss -o css
// https://webdesign.tutsplus.com/tutorials/watch-and-compile-sass-in-five-quick-steps--cms-28275